@tailwind base;
@tailwind components;
@tailwind utilities;

.header-image {
  background-image: url("../assets/images/banner.png");
  background-position: center center;
}

.mobile-header-image {
  background-image: url("../assets/images/banner.png");
  background-position: center center;
  object-fit: cover;
  background-size: cover;
}